/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.row-content{
    display: flex;
}

a{
    text-decoration: none;
    color: rgb(117, 117, 117);
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* regole container generale */

/* regole hover navbar */
.container-navbar-side :hover{
    color: white;
}

/* regole navbar */
.container-navbar-side{
    background-color: rgb(13, 13, 13);
    width: 250px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* regole prima parte navbar */

/* regole logo */
.container-logo{
    width: 70%;
}

.container-logo img{
    width: 100%;
    margin: 20px 0px 30px 20px;
}

/* regole tasti */
.container-tasti-navbar{
    width: 100%;
    display: flex;
}

.container-tasti-navbar-2{
    width: 100%;
    display: flex;
    margin-left: 4px;
}

.container-tasti-navbar img{
    width: 100%;
    padding-left: 16px;
    margin-bottom: 5px;
}

.container-tasti-navbar-2 img{
    width: 100%;
    padding-left: 16px;
    margin-bottom: 5px;
}

.container-tasti-navbar a:first-of-type{
    width: 22%;
    text-decoration: none;
}

.container-tasti-navbar-2 a:first-of-type{
    width: 22%;
    text-decoration: none;
}

.container-tasti-navbar a:last-of-type{
    width: 80%;
    margin-top: 8px;
    margin-left: 5px;
}

.container-tasti-navbar-2 a:last-of-type{
    width: 80%;
    margin-top: 8px;
    margin-left: 5px;
}

.home-img{
    border-left: 4px solid greenyellow;
}

.home-text{
    color: white;
    margin-left: 3.5px;
}

/* regole titolo playlist */
.nav-first-part h3{
    color: white;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 16px;
}

/* regole tasto crea playlist */
.container-crea-playlist{
    display: flex;
    align-items: center;
}

.add{
    background-color: rgb(117, 117, 117);
    color: black;
    padding: 0px 12px;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 10px;
}

.add-text{
    color: rgb(117, 117, 117);
    font-size: 18px;
    margin-left: 10px;
}

/* hover add playlist */
.add:hover{
    background-color: white;
    color: black;
}


/* regole ul lista playlist */
.lista-playlist{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 20px;
    overflow: auto;
    height:25vh;
    flex-shrink: 1;
}

.lista-playlist li{
    padding-top: 20px;    
}
  

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* regole seconda parte navbar */
.nav-second-part{
    width: calc(100% - 20px);
    padding-left: 20px;
}

/* regole installa app */
.container-installa-app{
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(117, 117, 117);
    padding-bottom: 10px;
}

.container-installa-app a:first-of-type{
    width: 8%;
    margin-top: 5px;
}

.container-installa-app a:last-of-type{
    width: 80%;
    margin-left: 8px;
    font-size: 15px;
}

/* regole profilo */
.container-profilo{
    display: flex;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 8px;
}

.container-profilo a:first-of-type{
    width: 12%;
    background-color: rgb(117, 117, 117);
    border-radius: 50%;
    padding: 0 3px;
}

.container-profilo a:last-of-type{
    width: 80%;
    margin-left: 8px;
    font-size: 16px;
    
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* regole barra upgrade */
.container-upgrade{
    background-color: rgba(8, 10, 14, 0.645);
    width: calc(100vw - 250px);
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bottone-upgrade span{
    border: 2px solid white;
    color: white;
    font-size: 14px;
    border-radius: 23px;
    padding: 10px 40px;
    margin-right: 13px;
}

.bottone-upgrade:hover{
    transform: scale(1.1);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* regole container main */
.container-main-content{
    overflow-y: auto;
    width: calc(100vw - 250px);
    height: calc(100vh - 100px);
    background-color: rgb(20 25 34);
}

/* regole ul sezione  */
.sezione-contenuto{
    margin-top: 120px;
}

.sezione-contenuto ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 25px;
    font-size: 15px;
}

.sezione-contenuto a:hover{
    color: white;
}

/* regole here */
.here{
    width: 3.5vh;
    background-color: yellowgreen;
    height: 2px;
    border: none;
    align-self: center;
}

.here-text{
    display: flex;
    flex-direction: column;
}

/* regole hover contenuto principale */
.card:hover .overlay{
    display: flex;
}

.card:hover .overlay-tondo{
    display: flex;
}

.card-img{
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.overlay-tondo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border-radius: 50%;
}

/* regole prima row contenuto principale */
.titolo-riga{
    color: white;
    margin: 30px 20px;
    font-size: 28px;
}

.row-card{
    display: flex;
    margin: 20px;
    gap: 15px;
}

.card{
    text-align: center;
    width: calc((100% / 6) - 15px);
    margin-bottom: 50px;
    position: relative;
}


.card h3{
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px;
}

.card span{
    color: rgb(117, 117, 117);
    font-size: 13px;
}

.card img{
    width: 100%;
}

/* regole seconda row contenuto principale */
.piu-ascolti{
    color: rgb(117, 117, 117);
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 35px;
}

.titolo-riga-2{
    color: white;
    margin: 0px 0px 10px 20px;
    font-size: 28px;
}


/* regole terza row contenuto principale */

.circle img{
    border-radius: 50%;
}



/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* regole player */
.row-player{
    background-color: rgb(43 43 43);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* regole colonna sinistra */
.col-sx{
    width: 15%;
}

.container-immagine-player{
    width: 60px;
    margin-left: 10px;
    display: flex;
}

.container-immagine-player img{
    width: 100%;
}

.in-riproduzione-info :hover{
    color: white;
}

.in-riproduzione-info{
    align-self: center;
    margin-left: 0.5vw;

}

.in-riproduzione-info h5{
    color: white;
    font-size: 14px;
}

.in-riproduzione-info span{
    color: rgb(117, 117, 117);
    font-size: 12px;
    white-space: nowrap;
}

.like-salva{
    align-self: center;
}

.fa-heart, .fa-folder{
    color: rgb(117, 117, 117);
    margin-left: 1vw;
    font-size: 18px;
    padding: 3px 0;
}

.fa-folder:hover{
    color: white;
}

.fa-heart:hover{
    color: white;
}

/* regole parte colonna centrale */
.col-middle{
    display: flex;
    flex-direction: column;
    width: calc((100% / 2.3));
}

.container-barra{
    display: flex;
    align-items: center;
}

.container-barra-brano{
    width: 100%;
}

.durata{
    color: white;
    font-size: 12px;
}

.riga-grande{
    background-color: rgb(117, 117, 117);
    border-radius: 22px;
    margin: 17px;
}

.riga-piccola{
    width: 20%;
    border-radius: 22px;
    background-color: white;
    height: 5px;
    display: flex;
    align-items: center;
}

.punto{
    color: white;
    font-size: 15px;
    padding-left: 90%;
    opacity: 0;
}

.riga-grande:hover .punto{
    opacity: 1;
}

.riga-grande:hover .riga-piccola{
    background-color: yellowgreen;
}

.container-controllo-musica{
    align-self: center;
}

.controllo-musica{
    padding: 0 10px;
    color: white;
    font-size: 20px;
}

.play-music{
    font-size: 10px;
}

.play-music :hover{
    transform: scale(1.3);
}

/* regole parte colonna destra */


.container-tasti-player{
    display: flex;
    margin-right: 10px;
        

}

.container-tasti-player a{
    margin-right: 5px;
    font-size: 14px;
    color: white;
}

.container-volume{
    display: flex;
}

.riga-grande-2{
    background-color: rgb(117, 117, 117);
    height: 5px;
    align-self: center;
    border-radius: 22px;
    width: 150px;
}

.riga-piccola-2{
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 22px;
    display: flex;
    align-items: center;
}

.riga-grande-2:hover .punto{
    opacity: 1;
}

.riga-grande-2:hover .riga-piccola-2{
    background-color: yellowgreen;
    
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx *//* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* regole tablet */
@media screen and (max-width: 878px){
    .container-navbar-side{
        width: 240px;
    }

    .add-text{
        margin-left: 0;
    }

    .sezione-contenuto {
        display: flex;
        justify-content: center;
    }

    .sezione-contenuto ul{
        gap: 16px;
        row-gap: 30px;
        flex-wrap: wrap;
    }

    .row-card{
        flex-wrap: wrap;
    }

    .card{
        width:calc((100% / 4) - 15px);
        margin-bottom: 0;
    }

    .titolo-riga-2{
        margin-top: 40px;
    }

    .col-sx{
        width: 20%;
    }

    .container-immagine-player {
        width: 32%;
    }

    .in-riproduzione-info span {
        white-space: normal;
    }
}