/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.row-content{
    display: flex;
}

a{
    text-decoration: none;
    color: rgb(117, 117, 117);
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* regole container generale */

/* regole hover navbar */
.container-navbar-side :hover{
    color: white;
}

/* regole navbar */
.container-navbar-side{
    background-color: rgb(13, 13, 13);
    width: 250px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* regole prima parte navbar */

/* regole logo */
.container-logo{
    width: 70%;
}

.container-logo img{
    width: 100%;
    margin: 20px 0px 30px 20px;
}

/* regole tasti */
.container-tasti-navbar{
    width: 100%;
    display: flex;
}

.container-tasti-navbar-2{
    width: 100%;
    display: flex;
    margin-left: 4px;
}

.container-tasti-navbar img{
    width: 100%;
    padding-left: 16px;
    margin-bottom: 5px;
}

.container-tasti-navbar-2 img{
    width: 100%;
    padding-left: 16px;
    margin-bottom: 5px;
}

.container-tasti-navbar a:first-of-type{
    width: 22%;
    text-decoration: none;
}

.container-tasti-navbar-2 a:first-of-type{
    width: 22%;
    text-decoration: none;
}

.container-tasti-navbar a:last-of-type{
    width: 80%;
    margin-top: 8px;
    margin-left: 5px;
}

.container-tasti-navbar-2 a:last-of-type{
    width: 80%;
    margin-top: 8px;
    margin-left: 5px;
}

.home-img{
    border-left: 4px solid greenyellow;
}

.home-text{
    color: white;
    margin-left: 3.5px;
}

/* regole titolo playlist */
.nav-first-part h3{
    color: white;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 16px;
}

/* regole tasto crea playlist */
.container-crea-playlist{
    display: flex;
    align-items: center;
}

.add{
    background-color: rgb(117, 117, 117);
    color: black;
    padding: 0px 12px;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 10px;
}

.add-text{
    color: rgb(117, 117, 117);
    font-size: 18px;
    margin-left: 10px;
}

/* hover add playlist */
.add:hover{
    background-color: white;
    color: black;
}


/* regole ul lista playlist */
.lista-playlist{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 20px;
    overflow: auto;
    height:25vh;
    flex-shrink: 1;
}

.lista-playlist li{
    padding-top: 20px;    
}
  

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* regole seconda parte navbar */
.nav-second-part{
    width: calc(100% - 20px);
    padding-left: 20px;
}

/* regole installa app */
.container-installa-app{
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(117, 117, 117);
    padding-bottom: 10px;
}

.container-installa-app a:first-of-type{
    width: 8%;
    margin-top: 5px;
}

.container-installa-app a:last-of-type{
    width: 80%;
    margin-left: 8px;
    font-size: 15px;
}

/* regole profilo */
.container-profilo{
    display: flex;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 8px;
}

.container-profilo a:first-of-type{
    width: 12%;
    background-color: rgb(117, 117, 117);
    border-radius: 50%;
    padding: 0 3px;
}

.container-profilo a:last-of-type{
    width: 80%;
    margin-left: 8px;
    font-size: 16px;
    
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* regole barra upgrade */
.container-upgrade{
    background-color: rgba(8, 10, 14, 0.645);
    width: calc(100vw - 250px);
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bottone-upgrade span{
    border: 2px solid white;
    color: white;
    font-size: 14px;
    border-radius: 23px;
    padding: 10px 40px;
    margin-right: 13px;
}

.bottone-upgrade:hover{
    transform: scale(1.1);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* regole container main */
.container-main-content{
    overflow-y: auto;
    width: calc(100vw - 250px);
    height: calc(100vh - 100px);
    background-color: rgb(20 25 34);
}

/* regole sezione  */
.sezione-contenuto{
    margin-top: 120px;
}

.sezione-contenuto ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 22px;
    font-size: 15px;
}

.sezione-contenuto a:hover{
    color: white;
}



/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


/* regole player */
.row-player{
    background-color: rgb(43 43 43);
    height: 100px;
    display: flex;
    align-items: center;
}

/* regole colonna sinistra */
.col-sx{
    display: flex;
    align-items: center;
    width: calc(100% / 3);
}

.container-info-brano{
    display: flex;
    align-items: center;
    margin-left: 16px;
    width: calc(100% / 3);
}

.container-info-brano img{
    width: 30%;
    margin-right: 15px;
}

#brano-nome{
    font-size: 12px;
    display: block;
}

#sinister{
    color: white;
    font-size: 14px;
}

.container-folder-follow{
    margin-left: 20px;
}

.fa-folder{
    padding-right: 27px;
}

/* regole parte controllo musica */
.col-middle{
    display: flex;
    flex-direction: column;
    width: calc((100% / 3) + 100px);
}

.container-barra{
    display: flex;
    align-items: center;
}

.durata{
    color: white;
    font-size: 12px;
}

.riga-grande{
    width: 100%;
    height: 5px;
    background-color: rgb(117, 117, 117);
    align-self: center;
    border-radius: 22px;
    margin: 20px;
}

.container-controllo-musica{
    align-self: center;
}

.controllo-musica{
    padding: 0 10px;
    color: white;
}

.fa-play{
    height: 30px;
    width: 30px;
    margin: 0 10px;
    border: 3px solid white;
    border-radius: 50%;
    font-size: 23.5px;
}

/* regole parte tasti player */
.col-dx{
    display: flex;
    justify-content: flex-end;
    width: 33%;
}

.container-tasti-player{
    display: flex;
    width: 23vw;
    margin-right: 10px;
        

}

.container-tasti-player a{
    margin: 0 10px;
    font-size: 14px;
    color: white;
}

.riga-grande-2{
    width: 100%;
    background-color: rgb(117, 117, 117);
    height: 5px;
    align-self: center;
    border-radius: 22px;

}

/* regole hover player */
.col-sx a:hover{
    color: white;
}